In [9]:



import xlrd
import pymysql
import math
import pandas as pd
from sqlalchemy import create_engine
from bs4 import BeautifulSoup 
import requests 
import re 
import random

In [10]:
conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()

In [11]:
list1=[]
for i in range(2000,2021):
    if i==2020:
         for j in range(1,5):
            mm='{:0>2d}'.format(j)
            list1.append(str(i)+'-'+mm+'.htm')
    else:
        for j in range(1,13):
            mm='{:0>2d}'.format(j)
            list1.append(str(i)+'-'+mm+'.htm')
print(list1)

['2000-01.htm', '2000-02.htm', '2000-03.htm', '2000-04.htm', '2000-05.htm', '2000-06.htm', '2000-07.htm', '2000-08.htm', '2000-09.htm', '2000-10.htm', '2000-11.htm', '2000-12.htm', '2001-01.htm', '2001-02.htm', '2001-03.htm', '2001-04.htm', '2001-05.htm', '2001-06.htm', '2001-07.htm', '2001-08.htm', '2001-09.htm', '2001-10.htm', '2001-11.htm', '2001-12.htm', '2002-01.htm', '2002-02.htm', '2002-03.htm', '2002-04.htm', '2002-05.htm', '2002-06.htm', '2002-07.htm', '2002-08.htm', '2002-09.htm', '2002-10.htm', '2002-11.htm', '2002-12.htm', '2003-01.htm', '2003-02.htm', '2003-03.htm', '2003-04.htm', '2003-05.htm', '2003-06.htm', '2003-07.htm', '2003-08.htm', '2003-09.htm', '2003-10.htm', '2003-11.htm', '2003-12.htm', '2004-01.htm', '2004-02.htm', '2004-03.htm', '2004-04.htm', '2004-05.htm', '2004-06.htm', '2004-07.htm', '2004-08.htm', '2004-09.htm', '2004-10.htm', '2004-11.htm', '2004-12.htm', '2005-01.htm', '2005-02.htm', '2005-03.htm', '2005-04.htm', '2005-05.htm', '2005-06.htm', '2005-07.htm', '2005-08.htm', '2005-09.htm', '2005-10.htm', '2005-11.htm', '2005-12.htm', '2006-01.htm', '2006-02.htm', '2006-03.htm', '2006-04.htm', '2006-05.htm', '2006-06.htm', '2006-07.htm', '2006-08.htm', '2006-09.htm', '2006-10.htm', '2006-11.htm', '2006-12.htm', '2007-01.htm', '2007-02.htm', '2007-03.htm', '2007-04.htm', '2007-05.htm', '2007-06.htm', '2007-07.htm', '2007-08.htm', '2007-09.htm', '2007-10.htm', '2007-11.htm', '2007-12.htm', '2008-01.htm', '2008-02.htm', '2008-03.htm', '2008-04.htm', '2008-05.htm', '2008-06.htm', '2008-07.htm', '2008-08.htm', '2008-09.htm', '2008-10.htm', '2008-11.htm', '2008-12.htm', '2009-01.htm', '2009-02.htm', '2009-03.htm', '2009-04.htm', '2009-05.htm', '2009-06.htm', '2009-07.htm', '2009-08.htm', '2009-09.htm', '2009-10.htm', '2009-11.htm', '2009-12.htm', '2010-01.htm', '2010-02.htm', '2010-03.htm', '2010-04.htm', '2010-05.htm', '2010-06.htm', '2010-07.htm', '2010-08.htm', '2010-09.htm', '2010-10.htm', '2010-11.htm', '2010-12.htm', '2011-01.htm', '2011-02.htm', '2011-03.htm', '2011-04.htm', '2011-05.htm', '2011-06.htm', '2011-07.htm', '2011-08.htm', '2011-09.htm', '2011-10.htm', '2011-11.htm', '2011-12.htm', '2012-01.htm', '2012-02.htm', '2012-03.htm', '2012-04.htm', '2012-05.htm', '2012-06.htm', '2012-07.htm', '2012-08.htm', '2012-09.htm', '2012-10.htm', '2012-11.htm', '2012-12.htm', '2013-01.htm', '2013-02.htm', '2013-03.htm', '2013-04.htm', '2013-05.htm', '2013-06.htm', '2013-07.htm', '2013-08.htm', '2013-09.htm', '2013-10.htm', '2013-11.htm', '2013-12.htm', '2014-01.htm', '2014-02.htm', '2014-03.htm', '2014-04.htm', '2014-05.htm', '2014-06.htm', '2014-07.htm', '2014-08.htm', '2014-09.htm', '2014-10.htm', '2014-11.htm', '2014-12.htm', '2015-01.htm', '2015-02.htm', '2015-03.htm', '2015-04.htm', '2015-05.htm', '2015-06.htm', '2015-07.htm', '2015-08.htm', '2015-09.htm', '2015-10.htm', '2015-11.htm', '2015-12.htm', '2016-01.htm', '2016-02.htm', '2016-03.htm', '2016-04.htm', '2016-05.htm', '2016-06.htm', '2016-07.htm', '2016-08.htm', '2016-09.htm', '2016-10.htm', '2016-11.htm', '2016-12.htm', '2017-01.htm', '2017-02.htm', '2017-03.htm', '2017-04.htm', '2017-05.htm', '2017-06.htm', '2017-07.htm', '2017-08.htm', '2017-09.htm', '2017-10.htm', '2017-11.htm', '2017-12.htm', '2018-01.htm', '2018-02.htm', '2018-03.htm', '2018-04.htm', '2018-05.htm', '2018-06.htm', '2018-07.htm', '2018-08.htm', '2018-09.htm', '2018-10.htm', '2018-11.htm', '2018-12.htm', '2019-01.htm', '2019-02.htm', '2019-03.htm', '2019-04.htm', '2019-05.htm', '2019-06.htm', '2019-07.htm', '2019-08.htm', '2019-09.htm', '2019-10.htm', '2019-11.htm', '2019-12.htm', '2020-01.htm', '2020-02.htm', '2020-03.htm', '2020-04.htm']

In [50]:
list1[225:226]

['2018-10.htm']

In [51]:

conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()



for i in list1[:226]:
    album_list=[]
    url='http://mojim.com/twzlist'+i
#     print(url)
    resp = requests.get(url) #  
    soup = BeautifulSoup(resp.text, 'html.parser')
    ss=soup.find_all('a',class_='X2')
    
    
    for j in ss:
        
        if 'x'  in j['href']:
            year=i.split('.htm')[0]
            data=j['title'].split('歌詞')
            link=j['href']
            singer=data[0]
            album=data[1]
            v=[year,singer,album,link]
            album_list.append(v)
            sql = "INSERT IGNORE INTO year_singer_album (year,singer,album,link) VALUES (%s,%s,%s,%s)" 
            
    cur.executemany(sql, tuple(album_list))  
    conn.commit()
#             print(i['href'],i['title'])

# singer_list=list(set(album_list))
# print(album_list)
# print(len(album_list))
# df1=pd.DataFrame(album_list)
# df1.columns=['year','singer','album','link']
# # df1
# conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/music',encoding='utf8')  

# pd.io.sql.to_sql(df1, "year_singer_album", conn,index=False, if_exists='replace')
print('finish')

finish

In [8]:
conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()

album_list=[]
for i in list1[:]:
    url='http://mojim.com/twzlist'+i
#     print(url)
    resp = requests.get(url) #  
    soup = BeautifulSoup(resp.text, 'html.parser')
    ss=soup.find_all('a',class_='X2')
    
    
    for j in ss:
        
        if 'x'  in j['href']:
            d=i.split('.htm')[0]
            y=d.split('-')[0]
            m=d.split('-')[1]
            a=j['title'].split('歌詞')[1]
            l=j['href']
            values=(a,l,d,y,m)
            album_list.append(values)
            
    sql = "INSERT IGNORE INTO new_all_album (album_name,album_link,day,years,months) VALUES (%s,%s, %s, %s, %s)"                      
    cur.executemany(sql, tuple(album_list))    
    conn.commit()
    
# df1=pd.DataFrame(singer_list)
# df1.tail(5)

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1300, "Invalid utf8 character string: 'F0A0B1'")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\xA0\\xB1\\x81\\xE6\\x88...' for column 'album_name' at row 14545")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1300, "Invalid utf8 character string: 'F09F90'")
  result = self._query(query)
/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x90\\xBC' for column 'album_name' at row 13836")
  result = self._query(query)

In [20]:
df1.columns=['year','album_name','album_link']
df1

               year      album_name        album_link
0       2000-01.htm       Only Love   /tw101108x3.htm
1       2000-01.htm   The Best Hits   /tw100711x7.htm
2       2000-01.htm            感心感謝   /tw100369x1.htm
3       2000-01.htm            この愛に   /tw114487x4.htm
4       2000-01.htm      歌芝居 涙の歌謡劇場   /tw113490x1.htm
...             ...             ...               ...
110087  2020-04.htm              無心   /tw221835x3.htm
110088  2020-04.htm          jalopy   /tw221698x2.htm
110089  2020-04.htm        春暖花開奔你而來  /tw221693x10.htm
110090  2020-04.htm          三日月オペラ   /tw220806x2.htm
110091  2020-04.htm        舞い落ちる花びら  /tw174844x15.htm

[110092 rows x 3 columns]

In [21]:
df1['day']=[i.split('.htm')[0]for i in df1.year]
df1['years']=[i.split('-')[0] for i in df1.day]
df1['months']=[i.split('-')[1] for i in df1.day]
df1

               year      album_name        album_link      day years months
0       2000-01.htm       Only Love   /tw101108x3.htm  2000-01  2000     01
1       2000-01.htm   The Best Hits   /tw100711x7.htm  2000-01  2000     01
2       2000-01.htm            感心感謝   /tw100369x1.htm  2000-01  2000     01
3       2000-01.htm            この愛に   /tw114487x4.htm  2000-01  2000     01
4       2000-01.htm      歌芝居 涙の歌謡劇場   /tw113490x1.htm  2000-01  2000     01
...             ...             ...               ...      ...   ...    ...
110087  2020-04.htm              無心   /tw221835x3.htm  2020-04  2020     04
110088  2020-04.htm          jalopy   /tw221698x2.htm  2020-04  2020     04
110089  2020-04.htm        春暖花開奔你而來  /tw221693x10.htm  2020-04  2020     04
110090  2020-04.htm          三日月オペラ   /tw220806x2.htm  2020-04  2020     04
110091  2020-04.htm        舞い落ちる花びら  /tw174844x15.htm  2020-04  2020     04

[110092 rows x 6 columns]

In [22]:
df1=df1.drop(['year'],1)
df1

            album_name        album_link      day years months
0            Only Love   /tw101108x3.htm  2000-01  2000     01
1        The Best Hits   /tw100711x7.htm  2000-01  2000     01
2                 感心感謝   /tw100369x1.htm  2000-01  2000     01
3                 この愛に   /tw114487x4.htm  2000-01  2000     01
4           歌芝居 涙の歌謡劇場   /tw113490x1.htm  2000-01  2000     01
...                ...               ...      ...   ...    ...
110087              無心   /tw221835x3.htm  2020-04  2020     04
110088          jalopy   /tw221698x2.htm  2020-04  2020     04
110089        春暖花開奔你而來  /tw221693x10.htm  2020-04  2020     04
110090          三日月オペラ   /tw220806x2.htm  2020-04  2020     04
110091        舞い落ちる花びら  /tw174844x15.htm  2020-04  2020     04

[110092 rows x 5 columns]

In [25]:
df1['months']=df1['months'].apply(str)

In [26]:
df1['album_link']=df1['album_link'].apply(str)
df1['album_name']=df1['album_name'].apply(str)
df1['day']=df1['day'].apply(str)
df1['years']=df1['years'].apply(str)
df1

            album_name        album_link      day years months
0            Only Love   /tw101108x3.htm  2000-01  2000     01
1        The Best Hits   /tw100711x7.htm  2000-01  2000     01
2                 感心感謝   /tw100369x1.htm  2000-01  2000     01
3                 この愛に   /tw114487x4.htm  2000-01  2000     01
4           歌芝居 涙の歌謡劇場   /tw113490x1.htm  2000-01  2000     01
...                ...               ...      ...   ...    ...
110087              無心   /tw221835x3.htm  2020-04  2020     04
110088          jalopy   /tw221698x2.htm  2020-04  2020     04
110089        春暖花開奔你而來  /tw221693x10.htm  2020-04  2020     04
110090          三日月オペラ   /tw220806x2.htm  2020-04  2020     04
110091        舞い落ちる花びら  /tw174844x15.htm  2020-04  2020     04

[110092 rows x 5 columns]

In [36]:
df1['album_name']=[re.sub(r"^\s+|\s+$", "", i) for i in df1.album_name]
df1['album_link']=[re.sub(r"^\s+|\s+$", "", i) for i in df1.album_link]
df1['day']=[re.sub(r"^\s+|\s+$", "", i) for i in df1.day]
df1['years']=[re.sub(r"^\s+|\s+$", "", i) for i in df1.years]
df1['months']=[re.sub(r"^\s+|\s+$", "", i) for i in df1.months]
df1

           album_name        album_link      day years months
0           Only Love   /tw101108x3.htm  2000-01  2000     01
1       The Best Hits   /tw100711x7.htm  2000-01  2000     01
2                感心感謝   /tw100369x1.htm  2000-01  2000     01
3                この愛に   /tw114487x4.htm  2000-01  2000     01
4          歌芝居 涙の歌謡劇場   /tw113490x1.htm  2000-01  2000     01
...               ...               ...      ...   ...    ...
110087             無心   /tw221835x3.htm  2020-04  2020     04
110088         jalopy   /tw221698x2.htm  2020-04  2020     04
110089       春暖花開奔你而來  /tw221693x10.htm  2020-04  2020     04
110090         三日月オペラ   /tw220806x2.htm  2020-04  2020     04
110091       舞い落ちる花びら  /tw174844x15.htm  2020-04  2020     04

[110092 rows x 5 columns]

In [34]:
df1[df1['album_name']=='Only Love']

      album_name        album_link      day years months
0      Only Love   /tw101108x3.htm  2000-01  2000     01
27701  Only Love   /tw105721x2.htm  2008-12  2008     12
30626  Only Love  /tw100166x15.htm  2009-06  2009     06

In [47]:
df1[14531:]

             album_name        album_link      day years months
14531   SWEET SUSPICION  /tw104858x51.htm  2005-07  2005     07
14532              依韻瓊瑤   /tw104541x1.htm  2005-07  2005     07
14533              幸福下載   /tw104334x2.htm  2005-07  2005     07
14534      二十年白金暢銷金曲全記錄  /tw100183x97.htm  2005-07  2005     07
14535         霹靂英雄劇集原聲帶   /tw102188x6.htm  2005-07  2005     07
...                 ...               ...      ...   ...    ...
110087               無心   /tw221835x3.htm  2020-04  2020     04
110088           jalopy   /tw221698x2.htm  2020-04  2020     04
110089         春暖花開奔你而來  /tw221693x10.htm  2020-04  2020     04
110090           三日月オペラ   /tw220806x2.htm  2020-04  2020     04
110091         舞い落ちる花びら  /tw174844x15.htm  2020-04  2020     04

[95561 rows x 5 columns]

In [45]:
conn = pymysql.connect(
        host='localhost', 
        user='root', 
        passwd = 'fc117108',
        db='music',
        port=3306,
        charset='utf8'
        )
cur = conn.cursor()


conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/music',encoding='utf8')  

pd.io.sql.to_sql(df1, "new_album", conn,index=False, if_exists='replace')

InternalError: (pymysql.err.InternalError) (1366, "Incorrect string value: '\\xF0\\xA0\\xB1\\x81\\xE6\\x88...' for column 'album_name' at row 14531")
[SQL: INSERT INTO new_album (album_name, album_link, day, years, months) VALUES (%(album_name)s, %(album_link)s, %(day)s, %(years)s, %(months)s)]
[parameters: ({'album_name': 'Only Love', 'album_link': '/tw101108x3.htm', 'day': '2000-01', 'years': '2000', 'months': '01'}, {'album_name': 'The Best Hits', 'album_link': '/tw100711x7.htm', 'day': '2000-01', 'years': '2000', 'months': '01'}, {'album_name': '感心感謝', 'album_link': '/tw100369x1.htm', 'day': '2000-01', 'years': '2000', 'months': '01'}, {'album_name': 'この愛に', 'album_link': '/tw114487x4.htm', 'day': '2000-01', 'years': '2000', 'months': '01'}, {'album_name': '歌芝居 涙の歌謡劇場', 'album_link': '/tw113490x1.htm', 'day': '2000-01', 'years': '2000', 'months': '01'}, {'album_name': 'YASHIKI TAKAJIN 50 Years old Anniversary Special C', 'album_link': '/tw112963x17.htm', 'day': '2000-01', 'years': '2000', 'months': '01'}, {'album_name': '男朋友', 'album_link': '/tw100386x1.htm', 'day': '2000-01', 'years': '2000', 'months': '01'}, {'album_name': '恋積み木', 'album_link': '/tw116690x1.htm', 'day': '2000-01', 'years': '2000', 'months': '01'}  ... displaying 10 of 110092 total bound parameter sets ...  {'album_name': '三日月オペラ', 'album_link': '/tw220806x2.htm', 'day': '2020-04', 'years': '2020', 'months': '04'}, {'album_name': '舞い落ちる花びら', 'album_link': '/tw174844x15.htm', 'day': '2020-04', 'years': '2020', 'months': '04'})]
(Background on this error at: http://sqlalche.me/e/2j85)

In [111]:
df1.columns=['singer_url']
df1
singer_list=[]
for i in df1[:].singer_url:
    url='https://mojim.com'+i
#     print('url',url)
    resp = requests.get(url) #  
    soup = BeautifulSoup(resp.text, 'html.parser')
    ss=soup.find_all('a',class_='X3')
    list1=[]
    for j in ss:
        if '\n魔鏡歌詞網\n' not in j.text:
            list1.append(j.text)
#     print(list1)
    singer_list.append(list1)
# print('singer_list',singer_list)
df2=pd.DataFrame(singer_list)
df2.columns=['class','name']
df2
conn = create_engine('mysql+pymysql://root:fc117108@localhost:3306/music',encoding='utf8')  

pd.io.sql.to_sql(df2, "new_singer_class", conn,index=False, if_exists='replace')